#registrationsEdit
  - @title = "Edit #{resource_name.to_s.humanize}"
  = render 'shared/header'

  %h2 Edit your account data
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    %ul.rounded
      %li= f.text_field :username, :placeholder => "Username"
      %li= f.text_field :email, :placeholder => "Email Address"
      %li= f.password_field :password, :placeholder => "Password"
      %li= f.password_field :password_confirmation, :placeholder => "Password Confirmation"
      %div (leave both fields blank if you don't want to change it)
      %li= f.password_field :current_password, :placeholder => "Current Password"
      %div (we need your current password to confirm your changes)
    %h2= f.submit "Update", :class => "grayButton"
  %h2 Cancel my account
  %h2.info
    Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
