#passwordsEdit
  - @title = "Change your password"
  = render 'shared/header'

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    %ul.rounded
      %li= f.password_field :password, :placeholder => "Password"
      %li= f.password_field :password_confirmation, :placeholder => "Password Confirmation"
    %h2= f.submit "Change my password", :class => "grayButton"
  = render :partial => "devise/shared/links"
