!!!
%html
  %head
    %title WeightBuddy
    = stylesheet_link_tag :all
    = stylesheet_link_tag "jqtouch/jqtouch.min.css", "jqtouch/themes/jqt/theme.min.css"
    = javascript_include_tag :defaults
    = javascript_include_tag "jqtouch/jqtouch.min.js", "mobile"
    = csrf_meta_tag
    %body
      #WeightBuddy.current
        = yield
        -# copyright info
        .info
          %p &copy; Pieter Walsweer, #{ link_to "Contact me", "mailto:pieter@walsweer.de" }
